<div class="row">
	<div class="col-md-12">
		
		<h3 class="page-header text-info">New Comment for <%=@book.title %></h3>
		</br>

		<%= semantic_form_for [@book, @comment] do |f| %>

			<%= f.input :comment %>

				<div class="text-right">
					<%= f.submit class: 'btn btn-info' %>
				</div>

		<% end %>


	</div>
</div>
