<div class="row">
	<div class="col-md-12">
		
		<h3 class="page-header text-info"><%=@book.title %></h3>
		<br>

		<div class="form-group">
	    <label class="col-sm-2 control-label">Author:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static"><%= @book.author%></p>
	    </div>
	    <div class="clearfix"></div>
 		</div>

 		<div class="form-group">
	    <label class="col-sm-2 control-label">Publish date:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static"><%= @book.publish_date %></p>
	    </div>
	    <div class="clearfix"></div>
 		</div>
 		
 		<div class="form-group">
	    <label class="col-sm-2 control-label">Page count:</label>
	    <div class="col-sm-10">
	      <p class="form-control-static"><%= @book.page_count %></p>
	    </div>
	    <div class="clearfix"></div>
 		</div>

		<h4 class="page-header">Comments:</h4>	

	</div>
<div>